# Packages to be installed on all computers for current projects

pip3 install BeautifulSoup4
pip3 install requests
pip3 install openai
pip3 install discord
pip3 install pytz
pip3 install python-dotenv
pip3 install pyyaml